\BLOCK{include 'includes/base.sty'}

\BLOCK{include 'includes/core.sty'}

\BLOCK{include 'includes/style.sty'}

\BLOCK{include 'includes/theorem.sty'}

\BLOCK{include 'includes/biblatex.sty'}

\BLOCK{include 'includes/hyperref.sty'}

\BLOCK{include 'includes/cleveref.sty'}
